.flex-container{
    flex-basis: 30px;
    display: flex;
    flex-direction:row;
    list-style:none;
    border: 2px solid black;
    flex-shrink: 1;
    flex-grow: 1;
    width:150px;
    height: 200px;
}
.flex-child{
    border: 1px solid green;
    text-align:center;
    width:100px;
    height:200px;
    display:border;

}
.flex-child2{
    border: 1px solid green;
    text-align:center;
    width:10px;
    height:200px;
    display:border;
}